.shiny-text {
  color: #3b82f6;
  background: linear-gradient(
    120deg,
    rgba(59, 130, 246, 0.4) 40%,
    rgba(147, 197, 253, 1) 50%,
    rgba(59, 130, 246, 0.4) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

